body { background: #b97a71; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 18px; display: flex; }
.block-email-0 { color: #d72a9b; font-size: 12px; margin-bottom: 5px; }
.block-filter-1 { color: #995028; font-size: 15px; margin-bottom: 5px; }
.block-cache-2 { color: #8e5e70; font-size: 15px; margin-bottom: 5px; }
.block-router-3 { color: #e8ed7; font-size: 20px; margin-bottom: 5px; }
.block-filter-4 { color: #6cb3a2; font-size: 18px; margin-bottom: 5px; }